* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}

:focus {
    outline: 0;
}

textarea,input,button,select {
    border-color: transparent;
}

.truncate-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.hidden-sidebar {
    margin-left: -100%;
}